@import "global/normalize.scss";
@import "vendor/magnific-popup.scss";
@import "variables.scss";
@import "mixins.scss";
@import "blocks/body.scss";
@import "global/fonts.scss";
@import "blocks/site-wrapper.scss";
@import "blocks/buttons.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/menu-toggle.scss";
@import "blocks/sub-menu.scss";
@import "blocks/top-row.scss";
@import "blocks/content.scss";
@import "blocks/main-footer.scss";
@import "blocks/gallery-wrapper.scss";
@import "blocks/gallery.scss";
@import "blocks/exhibitions-list.scss";
@import "blocks/biography-wrapper.scss";
@import "blocks/biography-content.scss";
@import "blocks/biography-photo.scss";
@import "blocks/contacts.scss";
@import "blocks/contact-form.scss";
@import "blocks/press.scss";
@import "blocks/press-item.scss";
@import "blocks/popup.scss"
