//  Fonts colors
$base-color-bold: #000000;
$base-color-reg: #333333;
$secondary-color: #ffffff;

//Background
$base-background: #ffffff;
$btn-background: #000000;

//Fonts
$font: "PT Sans", "Tahoma", sans-serif;
$font-bold: "PT Sans Bold", "Tahoma", sans-serif;
