.main-nav {
  &__close-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    background-color: $btn-background;
    border: none;
  }
  &__close-btn svg{
    fill: $base-background;
  }
}
