.content__image {
  width: 300px;
  height: 200px;
}

@media (min-width: 420px) {
  .content__image {
  width: 600px;
  height: 400px;
 }
}

@media (min-width: 768px) {
  .content__image {
  width: 900px;
  height: 600px;
 }
}
