.main-nav {
  position: relative;
  &__list {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    box-sizing: border-box;

    min-height: 26px;

    padding: 15px 15px;

    border-bottom: 1px solid #ffffff;
    background-color: $btn-background;
  }
  &__link {
    display: block;

    padding-left: 40%;

    vertical-align: middle;

    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    font-family: $font;
    color: $secondary-color;
    &--disabled {
      position: relative;

      i {
        position: absolute;
        top: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .main-nav {

    min-height: 70px;
    background-color: $btn-background;
    &__list {
      &--closed {
        .main-nav__item {
          display: none;
          &--active-shown {
            display: block;
          }
        }
      }
    }
    &__item {
      &--dropdown {
        .sub-menu {
          display: none;
          &--opened {
          display: block;
      	  }
        }
      }
    }
  }
}

@media (min-width: 1200px)  {
  .main-nav {
    margin-bottom: 2px;
    &__list {
      font-size: 0;
    }
    &__item {
      display: inline-block;
      padding: 5px 15px;
      width: 1/6*100%;

      text-align:left;
      background-color: $btn-background;
      border-bottom: none;
      &:hover {
        background-color: $base-background;
        .main-nav__link {
          color: $base-color-bold;
        }
      }
      &--dropdown {
        position: relative;
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
    &__link {
      padding-left: 0;

      font-size: 14px;
      line-height: 26px;
      color: $secondary-color;
      &--disabled {
        position: relative;
        pointer-events: none;
        i {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}
