.press-item {
  margin-bottom: 15px;
  &__description {
    display: block;

    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;
    line-height: 22px;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
  }
  &__link {
    display: block;
    text-decoration: none;
    color: red;
  }
  &:last-of-type {
    margin-bottom: 80px;
  }
}

@media (min-width: 600px) {
  .press-item {
    &__link {
      display: inline;
      text-decoration: none;
      color: red;
    }
  }
}
