.top-row {
  min-height: 100px;

  background: url("../img/title.jpg") no-repeat;
  background-size: cover;
}

@media (min-width: 768px)  {
  .top-row {
    min-height: 200px;
    
    margin-bottom: 5px;
    margin-top: 15px;
  }
}
